<app-usuario *ngIf="salir"></app-usuario>
<mat-toolbar color="primary" *ngIf="!salir">
  <mat-toolbar-row>
    <span style="flex: 1 1 auto;"></span>
    <div>
      <p style="margin-bottom: 0;">{{idUsuario.nombre}} {{idUsuario.apellidoP}} {{idUsuario.apellidoM}}</p>
      <p 
      style="margin-bottom: 0;">{{idUsuario.telefono}}</p>
    </div>
    
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon  (click)="Salir()">clear</mat-icon>
    </button>
  </mat-toolbar-row>
  </mat-toolbar>
<mat-card style="height: 100%;" *ngIf="!salir"> 
<mat-card-title style="text-align: center;">AGENDA TELEFONICA</mat-card-title>
<div class="text-center" style="padding-top: 15rem;"*ngIf="cargando">
  <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status" >
    <span class="sr-only">Loading...</span>
  </div>
</div>
    <button  type="button" class="btn btn-primary" (click)="Nuevo()" *ngIf="!cargando">Agregar Contacto</button>
    <div class="form-inline" style="padding-top: 12px;" *ngIf="!cargando">

        <mat-card class="col-12" style="background-color: white;color: black;" >
            <h4>Contactos</h4>            
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="Contactos" matSort style="width: 100%;background: white;">
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="apellidop">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Paterno </th>
                    <td mat-cell *matCellDef="let row"> {{row.apellidoP}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="apellidom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Materno </th>
                    <td mat-cell *matCellDef="let row"> {{row.apellidoM}} </td>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                    <td mat-cell *matCellDef="let row" > {{row.telefono}} </td>
                  </ng-container>
                  <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
                    <td mat-cell *matCellDef="let row" > <i class="material-icons" style="cursor: pointer;color: #007bff;"
                        (click)=Editar(row)>create</i> </td>
                  </ng-container>
                  <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
                    <td mat-cell *matCellDef="let row" > <i class="material-icons" style="cursor: pointer;color: #007bff;"
                        (click)=Eliminar(row)>delete</i> </td>
                  </ng-container>
                  <ng-container matColumnDef="ver">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ver </th>
                    <td mat-cell *matCellDef="let row" > <i class="material-icons" style="cursor: pointer;color: #007bff;"
                        (click)=Ver(row)>visibility</i> </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
              
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
              </div>
        </mat-card>
    </div>
</mat-card>
